* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f7f4;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  background: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.hero {
  height: 80vh;
  background: url("https://img.freepik.com/free-photo/multiethnic-group-students-learning-draw-sketch-together-art-class-using-pencil-canvas-create-vase-model-personal-growth-workshop-drawing-skills-development_482257-47336.jpg?semt=ais_hybrid&w=740&q=80") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff7a59;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #ff7a59;
  margin: 10px 0;
}

form {
  max-width: 500px;
  margin: auto;
  text-align: left;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #ff7a59;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  width: 300px;
  border-radius: 10px;
}

footer {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
